html {
    background-image: url("/images/scrabble-243192.jpg");
}

    /*https://pixabay.com/en/scrabble-game-board-game-words-243192/*/

body {
    border: 3px solid grey;
    border-radius: 20px;
    font-size: 100%;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 2.5em 5em 5em 5em;
    width: 625px;
}

.wrapper {
    background-color: none;
    margin: 10px 10px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: .75em;
    margin-bottom: 1em;
}

span:first-child {
    color: red;
    font-size: 1.36em;
    font-style: normal;
}

div .form-inputs {
    margin-top: 35px;
}

fieldset {
    margin: 0 0 2.25em 0;
    padding: 0;
    border: none;
}

legend, label {
    font-size: 2.25em;
    font-weight: normal;
    margin: .2em 0;
}

#radios label, #checkboxes label {
    color: grey;
    display: block;
    font-size: 2em;
}

div .text-entry {
    margin-bottom: 3.5em;
}

#checkboxes {
    margin-top: 3.5em;
}

input[type='text'] {
    height: 2.75em;
    margin-top: 7.5px;
    width: 12.5em;
    float: right;
}

span {
    color: red;
    font-size: .65em;
    font-style: italic;
}

/*https://css-tricks.com/almanac/selectors/p/placeholder/*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1em;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 1em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 1em;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 1em;
}

input[type='checkbox'], input[type='radio'], input[type='text'] {
    font-size: 2em;
    font-weight: normal;
    margin-right: .25em;
}

input[type='submit'], input[type='reset'] {
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.alert .alert-success {
    background-color: pink;
    color: black;
    height: 20px;
    width: 100%;
}

p {
    font-size: 2.75em;
    text-align: center;
}
