html {
    background-image: url("/images/scrabble-243192.jpg");
    background-position: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    border: 3px solid grey;
    border-radius: 20px;
    font-size: 100%;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 600px;
    padding: 2.25em 3.5em;
    width: 42%;
}

.wrapper {
    margin: 10px 25px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

span {
    font-size: 1.36em;
    color: red;
}

.form-group {
    padding: 0 0 17.5px 15px;
}

legend, label {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: -5px;
}

label:first-child {
    color: #2c3e50;
    font-size: 2em;
    font-weight: bold;
}

.checkbox legend {
    margin-bottom: -15px;
}

p.form-control-static {
    color: red;
    font-size: 1.36em;
    font-style: italic;
    text-align: left;
}

#enterWord {
    height: 40px;
    width: 205px;
}

.control-label, #enterWord {
    color: grey;
    font-size: 1.75em;
    font-weight: normal;
}

.checkbox label.control-label:last-child {
    margin-top: -15px;
}

.btn {
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 35px;
}

.alert .alert-success {
    width: 100%;
}

.alert p {
    font-size: 2.25em;
    text-align: center;
}

@media only screen and (min-device-width: 2000px) {
	body {
		margin-top: 5%;
	}
}
